= simple_form_for theme do |form|
  .panel.panel-default
    .panel-body
      = form.error_notification

      = form.input :name, label: 'Title', placeholder: 'Theme Title...', required: false

      = form.input :description, label: 'Description', label_html: {class: 'spacer'}, input_html: {class: 'theme-description'}, placeholder: 'Give a brief description of the theme...'

  .actions
    %button.btn.btn-default
      %i.fa.fa-check-circle
      Create Theme
