.row
  .col-sm-6
    %h2.page-title
      Theme Inspector

  .col-sm-6
    = render 'themes/sub_nav', theme: @theme


.row
  .col-sm-6
    .inspector-wrapper
      .details
        %p
          %b Current Element:
          %span.element-name

        %p
          %b Data Attribute:
          %span.data-attribute

  .col-sm-6
    .row
      .col-sm-6
        %form
          = collection_select(:setting_group, :theme_id, @theme.setting_groups, :get_slug, :name, {}, {class: 'setting-group-selector form-control'})

      .col-sm-6
        %form
          - @theme.setting_groups.each do |setting_group|
            = render 'settings/selector', setting_group: setting_group
      .col-sm-12
        = link_to 'Activate Inspector', '#', class: 'btn btn-success btn-block trigger-inspector'



.row
  .col-sm-12

    .iframe-wrapper
      %iframe{src: theme_url(@theme), width: '100%', height: 600, id: 'iframe'}

      .hover-block